.prevContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("https://img.wallpapersafari.com/desktop/800/450/35/96/HlMNmV.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  height: 50vh;
  width: 40vw;
  border: dashed 3px;
  position: absolute;
  left: 10vw;
}
.URL {
  margin-left: 2px;
  margin-right: 2px;
}

.link {
  color: blue;
  text-decoration: none;
}

.spinner {
  border: 5px solid rgb(136, 136, 136);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #000000;
  margin: 0 auto;
  margin-top: 20px;
  animation: spin 1s ease infinite;
  position: absolute;
  top: calc(50vh - 36px);
  left: calc(50vw - 36px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ov-btn-slide-close {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-close:hover {
  cursor: pointer;
}
.ov-btn-slide-close:before,
.ov-btn-slide-close:after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #4741d7; /* color de fondo hover */
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ov-btn-slide-close:after {
  left: 100%;
}
.ov-btn-slide-close:hover {
  color: #fff; /* color de fuente hover */
}
.ov-btn-slide-close:hover:before {
  left: 0;
}
.ov-btn-slide-close:hover:after {
  left: 50%;
}

@media screen and (max-width: 768px) {
  .edit {
    width: 60vw;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .edit {
    width: 90vw;
    height: auto;
    left: 5vw;
  }
}
